@import "tailwindcss";

:root {
  --background: #7245ff;
  --search-bg: #ffff33;
  --pill-bg: #9d7cff;
  --rank-gold: #eab308;
  --rank-silver: #9ca3af;
  --rank-bronze: #c27828;
  --pagination-bg: #4f46e5;
}

@theme inline {
  --color-background: var(--background);
  --color-search-bg: var(--search-bg);
  --color-pill-bg: var(--pill-bg);
  --color-rank-gold: var(--rank-gold);
  --color-rank-silver: var(--rank-silver);
  --color-rank-bronze: var(--rank-bronze);
  --color-pagination-bg: var(--pagination-bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .pill {
    @apply bg-pill-bg text-black/70 font-medium px-8 py-2 rounded-full min-w-[120px] text-center;
  }

  .pagination-btn {
    @apply bg-pagination-bg text-white p-4 rounded-2xl disabled:opacity-30 hover:opacity-90 active:scale-95 transition-all shadow-md;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
